// 定义全局样式变量
// 主题色
$colors: (
  'primary': #409eff,
  'success': #67c23a,
  'warning': #e6a23c,
  'danger': #f56c6c,
  'info': #909399
);

// 根据主题色生成不同亮度的颜色
:root {
  @each $val, $color in $colors {
    // 生成主题色
    --stickerwu-color-#{$val}: #{$color};
    // 生成不同亮度的颜色
    @for $i from 1 through 4 {
      // --stickerwu-color-#{$val}-light-#{2 *$i + 1}: #{lighten($color, $i * 5%)};
      // --stickerwu-color-#{$val}-dark-#{$i}: #{darken($color, $i * 5%)};
      --stickerwu-color-#{$val}-light-#{2 *$i + 1}: #{mix(#fff, $color, (2 * $i + 1) * 10 * 1%)};
    }
    // dark 2 和 light8 单独生成
    --stickerwu-color-#{$val}-dark-2: #{mix(#000, $color, 20%)};
    --stickerwu-color-#{$val}-light-8: #{mix(#fff, $color, 80%)}; // 80%亮度
  }
  // 接下来还有些其它的中性色
  --stickerwu-color-white: #fff;
  --stickerwu-color-black: #000;
  --stickerwu-bg-color: #ffffff;
  --stickerwu-bg-color-page: #f2f3f5;
  --stickerwu-bg-color-overlay: #ffffff;
  --stickerwu-text-color-primary: #303133;
  --stickerwu-text-color-regular: #606266;
  --stickerwu-text-color-secondary: #909399;
  --stickerwu-text-color-placeholder: #a8abb2;
  --stickerwu-text-color-disabled: #c0c4cc;
  --stickerwu-border-color: #dcdfe6;
  --stickerwu-border-color-light: #e4e7ed;
  --stickerwu-border-color-lighter: #ebeef5;
  --stickerwu-border-color-extra-light: #f2f6fc;
  --stickerwu-border-color-dark: #d4d7de;
  --stickerwu-border-color-darker: #cdd0d6;
  --stickerwu-fill-color: #f0f2f5;
  --stickerwu-fill-color-light: #f5f7fa;
  --stickerwu-fill-color-lighter: #fafafa;
  --stickerwu-fill-color-extra-light: #fafcff;
  --stickerwu-fill-color-dark: #ebedf0;
  --stickerwu-fill-color-darker: #e6e8eb;
  --stickerwu-fill-color-blank: #ffffff;

  // 和 border 相关的变量
  --stickerwu-border-width: 1px;
  --stickerwu-border-style: solid;
  --stickerwu-border-color-hover: var(--stickerwu-text-color-disabled);
  --stickerwu-border: var(--stickerwu-border-width) var(--stickerwu-border-style)
    var(--stickerwu-border-color);
  --stickerwu-border-radius-base: 4px;
  --stickerwu-border-radius-small: 2px;
  --stickerwu-border-radius-round: 20px;
  --stickerwu-border-radius-circle: 100%;

  // 和 font 相关的变量
  --stickerwu-font-size-extra-large: 20px;
  --stickerwu-font-size-large: 18px;
  --stickerwu-font-size-medium: 16px;
  --stickerwu-font-size-base: 14px;
  --stickerwu-font-size-small: 13px;
  --stickerwu-font-size-extra-small: 12px;
  --stickerwu-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --stickerwu-font-weight-primary: 500;

  // 和 disabled 相关的变量
  --stickerwu-disabled-bg-color: var(--stickerwu-fill-color-light);
  --stickerwu-disabled-text-color: var(--stickerwu-text-color-placeholder);
  --stickerwu-disabled-border-color: var(--stickerwu-border-color-light);

  // 和 transition 过渡相关的变量
  --stickerwu-transition-duration: 0.3s;
  --stickerwu-transition-duration-fast: 0.2s;
}
